@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
}

body{
    background-color: #201b2c;
}

section,
footer{
    padding: 54px 0;
}

h3{
    font-size: 50px;
}
p{
    color: #0000009c;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}
.bnt{
    background-color: #00ff88;
    color: #2b134b;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}
.bnt.animete-bnt{
    animation: animate-outline 1s ease-out infinite;
}
.bnt:hover{
    background-color: #00ff8870;
}
@keyframes animate-outline {
    from{outline: 0px solid #048046;}
    to{outline: 15px solid #4f9bf900;}
}
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    color:white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}
nav ul a:not(.bnt)::after{
    content: "";
    background-color: #00ff88;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}
nav ul a:hover::after{
    width: 100%;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}
.banner .banner-text h1{
    font-size: 96px;
    color: white;
}
.banner .banner-text p{
    font-size: 20px;
    color: #ffffbc;
    font-weight: lighter;
    margin: 18px 0;
}